### INTRODUKTION (15 min, 17:00 - 17:15)

### ALT DET BASALE (30 min, 17:15 - 17:45)

##### Python Scripts / IPython Notebooks

In [1]:
# COMMENTS COMMENTS COMMENTS...

# ALWAYS NICE TO WRITE COMMENTS

##### Assignment / lister

In [2]:
a = 42

b = [1, 2, 3, 4 , 5, 5]

c = range(3)

d = 'PROSA'

e = ['Peter', 'Rosa', 'Oscar', 'Sebastian', 'Adam']

f = ['D', 4, 'M', e]

In [3]:
print(a)
print(c)
print(d)
print(f)

42
range(0, 3)
PROSA
['D', 4, 'M', ['Peter', 'Rosa', 'Oscar', 'Sebastian', 'Adam']]

In [4]:
for idx in c:
    print(e[idx])

Peter
Rosa
Oscar

In [5]:
f[1] = 40

In [6]:
print(f)

['D', 40, 'M', ['Peter', 'Rosa', 'Oscar', 'Sebastian', 'Adam']]

##### UdvÃ¦lge elementer i lister. Indeks og slice.

In [7]:
print(b[1])
print(b[-2])
print(b[2:4])
print(b[-3:-1])
print(f[3][2:4])

2
5
[3, 4]
[4, 5]
['Oscar', 'Sebastian']

##### List comprehension

In [8]:
x = [number**2 for number in range(21)]

In [9]:
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [10]:
y = [number for number in x if number % 2 == 0]

In [11]:
print(y)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

##### Dictionaries

In [12]:
dic = {
    'integer': 42,
    'float': 23.23,
    'string': 'Python rules!',
    'list': ['nested', 'list'],
    'dictionary': {'inception': 'dictionary'}
}

In [13]:
print(dic)

{'integer': 42, 'float': 23.23, 'string': 'Python rules!', 'list': ['nested', 'list'], 'dictionary': {'inception': 'dictionary'}}

In [14]:
print(dic['float'])
print(dic['dictionary'])

23.23
{'inception': 'dictionary'}

In [15]:
dic['float'] = 12.34

In [16]:
for key in dic.keys():
    print(dic[key])

42
12.34
Python rules!
['nested', 'list']
{'inception': 'dictionary'}

In [17]:
for val in dic.values():
    print(val)

42
12.34
Python rules!
['nested', 'list']
{'inception': 'dictionary'}

##### Sets

In [18]:
names1 = set(['John', 'Jane', 'Jack', 'Janice'])

print(names1)

{'Jane', 'John', 'Janice', 'Jack'}

In [19]:
names1.add('Tobias')

print(names1)

{'Jack', 'Tobias', 'Janice', 'Jane', 'John'}

In [20]:
names1.add('Tobias')

print(names1)

{'Jack', 'Tobias', 'Janice', 'Jane', 'John'}

In [21]:
names2 = set(['Anders', 'Line', 'Martin', 'Amalie', 'John', 'Jane'])

In [22]:
print(names1.union(names2))

print(names1.intersection(names2))

{'Anders', 'Jack', 'Amalie', 'John', 'Tobias', 'Martin', 'Jane', 'Janice', 'Line'}
{'Jane', 'John'}

##### Funktioner

In [23]:
print(len(y))
print(sum(y))
print(max(y))

11
1540
400

In [24]:
z = 12.3456789

round(z, 2)

12.35

In [25]:
for i in range(10):
    if i > 5:
        break

In [26]:
list(names1)

['Jack', 'Tobias', 'Janice', 'Jane', 'John']

##### Funktioner vi selv laver

In [67]:
def broken_calculator(x, y):
    return x+y+2

In [68]:
broken_calculator(2,4)

8

##### Classes

In [56]:
class Person:
    
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age
        self.skills = []
        self.workplace = None
    
    def add_skill(self, skill):
        self.skills.append(skill)
        
    def set_workplace(self, workplace):
        self.workplace = workplace

In [63]:
person1 = Person(first_name='Monty', last_name='Python', age=24)

print(person1.first_name)
print(person1.workplace)

Monty
None

In [64]:
person1.set_workplace('Prosa')
person1.add_skill('Knitting')

print(person1.workplace)

Prosa

In [65]:
person2 = Person(first_name='Jens', last_name='Jensen', age=49)
person3 = Person(first_name='Henning', last_name='HavÃ¸rn', age=35)

persons = [person1, person2, person3]

for person in persons:
    person.add_skill('Python programming')

In [66]:
print(person1.skills)
print(person2.skills)
print(person3.skills)

['Knitting', 'Python programming']
['Python programming']
['Python programming']

##### Bruge pakker fra Python community / Imports

In [27]:
#import X
#import X as Y
#from X import Y

import hello

In [28]:
hello.hello_world()

Hello, PROSA!

##### Dataframes med Pandas

In [ ]:
import pandas as pd

##### Vektorer og matricer med Numpy

In [ ]:
import numpy as np

### ÃVELSER: ALT DET BASALE (15 min, 17:45 - 18:00)

### PAUSE (30 min, 18:00 - 18:30)

### DATA INDSAMLING (15 min, 18:30 - 18:45)

##### IndlÃ¦sning af data (txt, csv, Stata, SAS, SPSS, osv.)

##### Databaser

##### API'er

##### Scrape data fra hjemmesider

### DATA ANALYSE (45 MIN, 18:45-19:30)

##### Merge data frames

##### Feature engineering

##### LineÃ¦r regression med Scikit-learn

##### Supervised learning

##### Unsupervised learning (Kmeans med Scikit-learn)

### DATA VISUALISERING (15 min, 19:30 - 19:45)

##### Visualisering med Matplotlib

##### Scatter plot

##### Bar plot

### TWITTER DATA (15 MIN, 19:45-20:00)

### ÃVELSE (45 min, 20:00 - 20:45)

### SPÃRGSMÃL / BUFFERTID (15 min, 20:45 - 21:00)